{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>What is Stock Market?</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Definition: It is a place where shares of pubic listed companies are traded. A stock exchange facilitates stock brokers to trade company stocks and other securities. ... A stock may be bought or sold only if it is listed on an exchange.        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>What is Stock?</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Stock is all of the shares into which ownership of a corporation is divided. In American English, the shares are collectively known as "stock". A single share of the stock represents fractional ownership of the corporation in proportion to the total number of shares.            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>What is Stock Price Prediction?</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        Stock market prediction is the act of trying to determine the future value of a company stock or other financial instrument traded on an exchange. The successful prediction of a stock's future price could yield significant profit                   </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Role of Machine Learning in Stock Price Prediction</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Technical analysis: It is based on time series data. ... Different machine learning models and risk strategies have been applied to stock market prediction task trying to predict mainly the direction of the price for different time frames and using different features that would affect market prices.            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}